<!DOCTYPE html>
<html lang="en-US" ng-app="RisingStarTravel">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rising Star Travel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/_style/main.css">
  </head>
  <body>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/itinerary">List</a>
    </li>
    <li>
      <a href="/itinerary/create">Create Itinerary</a>
    </li>
  </ul>

  {{{body}}}

  <script src="lib/build.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
