<!DOCTYPE html>
<html lang="en-US" ng-app="RisingStarTravel">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rising Star Travel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/_style/main.css">
  </head>
  <body>
  <div class="navbar navbar-inverse navbar-fixed-top" style="text-align: center;">
   <div class="container"
    <div class="navbar-text" style="padding-top: 10px; font-size: 20px;">
      <a href="/#/" style="padding-right: 10px;">Home</a>
      <a href="/#/artists" style="padding-right: 10px;">Current Intineraries</a>
      <a href="/#/itinerary/create" style="padding-right: 10px;">Create Itinerary</a>
    </div>
   </div>
  </div>

  {{{body}}}

  <script src="lib/build.js"></script>
  <script src="js/main.js"></script>
</body>
</html>