<!DOCTYPE html>
<html ng-app='RisingStarTravel'>
<head>
	<title>Rising Star Travel</title>
</head>
<body ng-controller="Table as table">
<div class="container-fluid">
<div class="col-md-4">
<img src="images/RST black.jpg" style="min-height: 150px; min-width: 200px;">
<table>
	<thead>
		<tr>
			<th>Date</th>
			<th>Artist</th>
			<th>Travelers</th>
			<th>Vendor Name</th>
			<th>Address</th>
			<th>Phone</th>
			<th>Check In / Pick Up</th>
			<th>Check Out / Drop Off</th>
			<th>Confirmation</th>
			<th>Distance to Venue</th>
			<th>Cost</th>
			<th>Credit Card Authorization</th>
			<th>Notes</th>
		</tr>
	</thead>
	<tbody>
	<td>{{table.itinerary.date}}</td>
	<td>{{}}</td>
	<td>{{}}</td>
	<td>{{}}</td>
	<td>{{}}</td>
	<td>{{}}</td>
	<td>{{}}</td>
	<td>{{}}</td>
	<td>{{}}</td>
	<td>{{}}</td>
	<td>{{}}</td>
	<td>{{}}</td>
	<td>{{}}</td>
</table>
</div>
</div>
<script src="/lib/build.js"></script>
<script src="/js/main.js"></script>
</body>
</html>