<!DOCTYPE html>
<html lang="en-US" ng-app="RisingStarTravel">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rising Star Travel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="_style/main.css">
  </head>
  <body ng-controller="Main as main">
    <div class="container">
       <form action="/submit" method="POST" target="_blank" accept-charset="UTF-8"
          enctype="application/x-www-form-urlencoded" autocomplete="off" novalidate>
            Date: <input name="date" type="date" placeholder="mm/dd/yyyy">
            Artist: <input name="artist" type="text" placeholder="Artist">
            Travelers: <input name="travelers" type="text" placeholder="Travelers">
            Vendor Name: <input name="vendor" type="text" placeholder="Vendor Name">
            Address: <input name="address" type="text" placeholder="Address">
            Phone: <input name="phone" type="tel" placeholder="555-555-5555">
            Check In / Pick Up <input name="checkin" type="text" placeholder="check in / p/u">
            Check Out / Drop Off <input name="checkout" type="text" placeholder="check out / d/o">
            Confirmation #: <input name="confirmation" type="text" placeholder="Confimation #">
            Distance to Venue: <input name="distance" type="text" placeholder="Distance to Venue">
            Cost: <input name="cost" type="text" placeholder="">
            Credit Card Authorization: <input name="ccauth" type="text" placeholder="CC Auth">
            Notes: <textarea name="notes" </textarea>
         <input type="submit" value="Submit">
       </form>
      </div>
     </div>
    <script src="/node_modules/angular/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"a></script>
    <script src="js/main.js"></script>
  </body>
</html>